body{
  background-color: antiquewhite;
}

#content-container{
  width: 100%;
  height: 100vh;
}

#box-number{
  padding: 10px;
  background-color: rgb(80, 50, 11);
  border-radius: 15px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}